* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(135dev, #667eea 0%, #764ba2 100%);
    min-height: 100vh;
    direction: rtl;;
}

#root {
    min-height: 100vh;
}

button {
    cursor: pointer;
    font-family: inherit;
}

input, textarea {
    font-family: inherit;
}