@keyframes firework {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}

.firework {
    position: fixed;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
}

.firework::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid currentColor;
    animation: firework 1s ease-out forwards;
}